In [1]:
import pandas as pd

In [3]:
data = {
'Name': ['rayan', 'tom', 'khoya'],
'Age': [16, 30, 48],
'City': ['casablanca', 'paris', 'marseille']
}

In [4]:
df = pd.DataFrame(data)

In [5]:
print(df)

    Name  Age        City
0  rayan   16  casablanca
1    tom   30       paris
2  khoya   48   marseille

In [6]:
data1= {'A': [0,2,3], 'B':[9,5,6], 'C': [7,8,1]}
data2= {'A': [4,21,13], 'B':[6,9,2], 'C': [9,1,6]}

df_1 = pd.DataFrame(data1)
df_2 = pd.DataFrame(data2)

pnl = pd.concat({'item1': df_1 ,'Item2': df_2}, axis=1)

In [7]:
print(pnl)

  item1       Item2
      A  B  C     A  B  C
0     0  9  7     4  6  9
1     2  5  8    21  9  1
2     3  6  1    13  2  6

In [8]:
print(df_1)

   A  B  C
0  0  9  7
1  2  5  8
2  3  6  1

In [2]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([3,2,1,5,4])

In [3]:
r1 = s1 == s2
r2 = s1> s2
r3 = s1 <= s2
r4 = s1 != s2

In [4]:
print(r1)
print(r2)
print(r3)
print(r4)

0    False
1     True
2    False
3    False
4    False
dtype: bool
0    False
1    False
2     True
3    False
4     True
dtype: bool
0     True
1     True
2    False
3     True
4    False
dtype: bool
0     True
1    False
2     True
3     True
4     True
dtype: bool

In [8]:
print(r3)
print(s1[r3])

0     True
1     True
2    False
3     True
4    False
dtype: bool
0    1
1    2
3    4
dtype: int64

In [9]:
s = pd.Series([5,2,5,4,6])
r1 = s.mean()
r2 = s.max()
r3 = s.min()
r4 = s.sum()
r5= s.count()
print(r1, r2, r3, r4, r5)

4.4 6 2 22 5

In [10]:
s = pd.Series([1,2,3,4,5])

id = s > 3
id_series = s[id]

r1 = id_series.mean()
r2 = id_series.max()
r3= id_series.min()

print(r1,r2,r3)

4.5 5 4

In [29]:
data = {'apples': 3, 'oranges':5, 'pears':2, 'grapes':10}
series = pd.Series(data, index=['a','b','c','d'])

print("index",series.index)
print("Size",series.size)
print("Size",series.dtype)
print("Size",series.name)
print("Size",series.is_unique)

index Index(['a', 'b', 'c', 'd'], dtype='object')
Size 4
Size float64
Size None
Size False

In [19]:
print(series)

a   NaN
b   NaN
c   NaN
d   NaN
dtype: float64

In [33]:
df=pd.Series(data)
print(df.is_unique)

True

In [22]:
df

apples      3
oranges     5
pears       2
grapes     10
dtype: int64

In [26]:
df.describe()

count     4.000000
mean      5.000000
std       3.559026
min       2.000000
25%       2.750000
50%       4.000000
75%       6.250000
max      10.000000
dtype: float64

In [12]:
data = [10,20,30,40,50,60,70,80,90,100]

my_series = pd.Series(data)
print(my_series.head(3))
print(my_series.tail(3))

0    10
1    20
2    30
dtype: int64
7     80
8     90
9    100
dtype: int64

In [42]:
print(my_series.describe())
print(my_series.info())
print(my_series.mean())

count     10.000000
mean      55.000000
std       30.276504
min       10.000000
25%       32.500000
50%       55.000000
75%       77.500000
max      100.000000
dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: None
Non-Null Count  Dtype
--------------  -----
10 non-null     int64
dtypes: int64(1)
memory usage: 208.0 bytes
None
55.0

In [44]:
print(data)
print(my_series.unique())

#group by (next step)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[ 10  20  30  40  50  60  70  80  90 100]

In [11]:
grouped = my_series.groupby(my_series % 3)
print("grouped by remainder when divided by 3 :\n", grouped.sum())

grouped by remainder when divided by 3 :
 0    180
1    220
2    150
dtype: int64

In [10]:
print(grouped)

<pandas.core.groupby.generic.SeriesGroupBy object at 0x7ab9232a7190>

In [8]:
10 % 3

1

In [9]:
print(my_series % 3) # %3 revient Ã  dire ==> modulo 3

0    1
1    2
2    0
3    1
4    2
5    0
6    1
7    2
8    0
9    1
dtype: int64

In [14]:
def add_ten(x):
    return x + 10

print("applied function : \n", my_series.apply(add_ten))

applied function :
 0     20
1     30
2     40
3     50
4     60
5     70
6     80
7     90
8    100
9    110
dtype: int64

In [15]:
my_series + 10

0     20
1     30
2     40
3     50
4     60
5     70
6     80
7     90
8    100
9    110
dtype: int64

In [18]:
my_series_with_na = pd.Series([1,2,None,4,None,6])
print(my_series_with_na)
print("filled with pandas: \n", my_series_with_na.fillna(0))

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
5    6.0
dtype: float64
filled with pandas:
 0    1.0
1    2.0
2    0.0
3    4.0
4    0.0
5    6.0
dtype: float64

In [20]:
my_series_with_na.fillna(0)+10

0    11.0
1    12.0
2    10.0
3    14.0
4    10.0
5    16.0
dtype: float64

In [21]:
print("Dropped values:\n", my_series.drop([3,6]))

Dropped values:
 0     10
1     20
2     30
4     50
5     60
7     80
8     90
9    100
dtype: int64

In [24]:
my_series2 = pd.Series([1,2,3,4,5,6,7,8,9,10])

merged_series = pd.concat([my_series,my_series2], ignore_index=True,axis=0)

print("Merged series : \n", merged_series)

Merged series :
 0      10
1      20
2      30
3      40
4      50
5      60
6      70
7      80
8      90
9     100
10      1
11      2
12      3
13      4
14      5
15      6
16      7
17      8
18      9
19     10
dtype: int64

In [26]:
data = {'Name': ['Alice','Jafri','Charlie'], 'Age': [25,30,35]}

df = pd.DataFrame(data)
df['Gender']= ['F','M','M']

print(df)

      Name  Age Gender
0    Alice   25      F
1    Jafri   30      M
2  Charlie   35      M

In [27]:
import pandas as pd

data1 = {
    'Name': ['Alia', 'Bob', 'Jafri', 'David', 'Eve'],
    'Age': [25, 30, 35, 40, 45],
}

df1 = pd.DataFrame(data1)

data2 = {
    'Name': ['Jafri', 'Faisal', 'Jafri', 'Ali', 'Eve'],
    'Age': [30, 34, 31, 44, 49],
}

df2 = pd.DataFrame(data2)

joined_df = df1.merge(df2, on='Name', how='left')

print("\nJoined DataFrame:\n", joined_df)

Joined DataFrame:
     Name  Age_x  Age_y
0   Alia     25    NaN
1    Bob     30    NaN
2  Jafri     35   30.0
3  Jafri     35   31.0
4  David     40    NaN
5    Eve     45   49.0

In [28]:
joined_df.fillna(0)

    Name  Age_x  Age_y
0   Alia     25    0.0
1    Bob     30    0.0
2  Jafri     35   30.0
3  Jafri     35   31.0
4  David     40    0.0
5    Eve     45   49.0

In [29]:
joined_df.columns

Index(['Name', 'Age_x', 'Age_y'], dtype='object')

In [30]:
joined_df.values

array([['Alia', 25, nan],
       ['Bob', 30, nan],
       ['Jafri', 35, 30.0],
       ['Jafri', 35, 31.0],
       ['David', 40, nan],
       ['Eve', 45, 49.0]], dtype=object)

In [31]:
joined_df.shape

(6, 3)

In [32]:
joined_df.size

18

In [36]:
joined_df.dtypes

Name      object
Age_x      int64
Age_y    float64
dtype: object

In [50]:
import pandas as pd

# Create a sample DataFrame
data = {
    'Name': ['Faisal', 'Emma', 'Peter', 'Jafri'],
    'Age': [25, 28, 21, 32],
    'City': ['New York', 'London', 'Paris', 'Paharpur']
}

df = pd.DataFrame(data)

In [51]:
print("Head:", df.head())

print('Tails:', df.tail())

Head:      Name  Age      City
0  Faisal   25  New York
1    Emma   28    London
2   Peter   21     Paris
3   Jafri   32  Paharpur
Tails:      Name  Age      City
0  Faisal   25  New York
1    Emma   28    London
2   Peter   21     Paris
3   Jafri   32  Paharpur

In [52]:
print("Describe", df.describe())

Describe              Age
count   4.000000
mean   26.500000
std     4.654747
min    21.000000
25%    24.000000
50%    26.500000
75%    29.000000
max    32.000000

In [55]:
grouped_df = df.groupby('City').count()

print("\n Grouped Dataframe: \n", grouped_df)

 Grouped Dataframe:
           Name  Age
City
London       1    1
New York     1    1
Paharpur     1    1
Paris        1    1

In [54]:
print("Info:", df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   City    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes
Info: None

In [57]:
pivot_table_df = df.pivot_table(index='City', values='Age', aggfunc='mean')

print(pivot_table_df)

           Age
City
London    28.0
New York  25.0
Paharpur  32.0
Paris     21.0

In [58]:
sorted_df = df.sort_values(by='Age')

print("Sorted DataFrame:\n", sorted_df)

Sorted DataFrame:
      Name  Age      City
2   Peter   21     Paris
0  Faisal   25  New York
1    Emma   28    London
3   Jafri   32  Paharpur

In [59]:
def add_five(x):
    return x + 5

df_applied = df['Age'].apply(add_five)

print(df_applied)

0    30
1    33
2    26
3    37
Name: Age, dtype: int64